<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="i.css">  
    <link rel="stylesheet" href="bootstrap-reboot.min.css">
    <link rel="stylesheet" href="bootstrap-grid.min.css"> 
</head>
<body>
    {{ template "partials/Header" .}}
    <section class="grid" >
        <div class="product-wrap">
            <div class="product-item">
                <img src="/img/orderblack.jpg">
                <div class="product-buttons">
                    <a href="" class="button">Add to cart</a>
                </div>
            </div>
            <div class="product-title">
                <a href="">ORDER BLACK</a>
                <span class="product-price">1000$</span>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product-item">
                <img src="/img/orderblue.jpg">
                <div class="product-buttons">
                    <a href="" class="button">Add to cart</a>
                </div>
            </div>
            <div class="product-title">
                <a href="">ORDER BLUE</a>
                <span class="product-price">1000$</span>
            </div>
        </div>
        <div class="product-wrap">
            <div class="product-item">
                <img src="/img/orderviolet.jpg">
                <div class="product-buttons">
                    <a href="" class="button">Add to cart</a>
                </div>
            </div>
            <div class="product-title">
                <a href="">ORDER VIOLET</a>
                <span class="product-price">1000$</span>
            </div>
        </div>
    </section>
    {{ template "partials/Footer" .}}
</body>
</html>