<nav class="navbar">

    <a href="#" class="navbar-logo">JEPIX</a>

    <a href="#" class="navbar-about">ABOUT US</a>
            
    <div class="navbar-wrap">
        <ul class="navbar-menu">
            <li><a href="#">NEW</a></li>
            <li><a href="#">BRANDS</a></li>
            <li><a href="#">MEN</a></li>
            <li><a href="#">WOMEN</a></li>
            <li><a href="#">SALE</a></li>
            
                

        </ul>
            <div class="navpic">
                <a href="#"><img src="icons\search.jpg"></a>
                <a href="#"><img src="icons\user.jpg"></a>
                <a href="#"><img src="icons\box.jpg"></a>    
        </div> 
    </div>


                     
</nav>
