@font-face {
   font-family: "inter";
   src: url("Inter-Regular.ttf");
}
body {
	position: relative;
   background-color: #071239;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.4;
   font-weight: bold;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}

html{
   background-color: white;
}

.navbar{
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   background-image: linear-gradient(to right, #7b7b9f, #071239);
}


.navpic{
   position: relative;
   right: 50px;
}

.navpic a{
   position: relative;
   padding: 10px;
   opacity: 0.6;
}

.navpic a:hover{
   opacity: 1;
}

.navbar-menu {
   position: relative;
   left: 450px;
   list-style-type: none;
   padding-left: 0;
   margin-bottom: 0;
}

.navbar-menu li{
   display: inline-block;
}

.navbar-menu li a{
   display: inline-block;
   color: white;
   opacity: 0.6;
   text-decoration: none;
   padding: 10px;
   font-size: 18px;
   transition: all .07s ease-in-out;
}

.navbar-menu li a img{
   width: 30px;
   height: 30px;
}

.navbar-wrap{
   display: flex;
   flex-flow: row nowrap;
}

/*.callback {
   margin-left: 30px;
   padding: 10px;
   background-color: #ffffff;
   border-radius: 100px;
   color: rgb(0, 0, 0);
   text-decoration: none;
   transition: all .1s ease-in-out;
   box-shadow:  0 9px 9px #675227;
}*/

/*.navbar-brand{
   font-weight: 700;
   font-size: 26px;
   text-decoration: none;
   color: white;
   opacity: 0.7;
}*/

.navbar-about{
   font-weight: 700;
   font-size: 26px;
   text-decoration: none;
   color: white;
   position: relative;
   opacity: 0.8;
   left: 350px;
}

.navbar-about:hover{
   opacity: 1;
   color: white;
   transition: all .07s ease-in-out;
}

.navbar-menu li a:hover{
   opacity: 1;
}

/*.navbar-brand:hover{
   color: white;
   transition: all .07s ease-in-out;
   opacity: 1;
}*/

/*.callback:hover{
   transform: scale(1.04);
   color: white;
}*/

/* orders */

* {
   box-sizing: border-box;
}
.grid{
   align-items: center;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 30px;
   margin-top: 20px;
   padding-left: 5%;
}

.product-wrap{
   padding-right: 0px;
}

.product-item{
   width: 400px;
   height: 400px;
   border-radius: 18px;
   background: linear-gradient(162deg, rgba(14, 0, 101, 0.84) 12.06%, rgba(60, 0, 113, 0.84) 58.5%, rgba(152, 0, 177, 0.84) 127.87%);
   position: relative;
   overflow: hidden;
}
.product-wrap img{
   padding-top: 40px;
   display: block;
   width: 100%;
}
.product-buttons{
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   /*background: rgba(0, 0, 0, .8);*/
   opacity: 1;
   /*transition: .3s ease-in-out;*/
}
.button{
   display: flex;
   border-radius: 9px;
   background: linear-gradient(180deg, #887DFF 0%, #ACA8CE 100%);
   box-shadow: 5px 6px 4px 0px rgba(0, 0, 0, 0.25);
   position: absolute;
   top: 74%;
   left: 12%;
   width: 300px;
   height: 60px;
   flex-shrink: 0;
   align-items: center;
   justify-content: center;
   /*transform: translate(-50%, -50%) scale(0);
   transition: .3s ease-in-out;*/
}
.popular-text{
   color: #000;
   font-size: 24px;
   font-family: "inter";
   text-decoration: none;
}
/*.button:before {
   content: "\f07a";
   font-family: FontAwesome;
   margin-right: 10px;
}
.product-item:hover .product-buttons {
   opacity: 1;
}
.product-item:hover .button {
   transform: translate(-50%, -50%) scale(1);
}
.button:hover {
   background: black;
}*/


/*login*/
.container-login{
   position: relative;
   margin-top: 350px;
}

.form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: rgba(0, 0, 0, .8);
}

.form h1{
   margin: 30px 100px;
   padding: 0;
   text-align: center;
   color: #fff;
   font-size: 30px;
   text-transform: uppercase;
}

.input-form{
   margin: 15px 40px;
   text-align: center;
}

.input-form input{
   padding: 10px;
   width: 100%;
   color: #fff;
   font-size: 20px;
   background: none;
   outline: none;
   border: 1px solid #fff;
   box-sizing: border-box;
}

.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
	border: 1px solid #c0a97a;
}

.input-form input[type="submit"] {
	margin-top: 20px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	background: #c0a97a;
	transition: .3s;
}

.input-form input[type="submit"]:hover {
	background: #957b47;
}

.form a {
	display: block;
	padding: 0 0 30px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	transition: .3s;
}

.form a:hover {
	color: #957b47;
}

/* About */

.container-about{
   position: relative;
   margin-top: 350px;
   margin-right: 10px;
}

.center{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .card{
   cursor: pointer;
   width: 240px;
   height: 240px;
 }

 .front,
 .back{
   width: 300%;
   height: 50%;
   overflow: hidden;
   backface-visibility: hidden;
   position: absolute;
   transition: transform;
   transition: transform .6s linear;
 }

 .front img{
   height: 100%;
 
 }

 .front{
   transform: perspective(600px) rotateY(0deg);
 }

 .back{
   transform: perspective(600px) rotateY(180deg);
 }

 .back-content{
   width: 100%;
   text-align: center;
   color:#333333;
 }

 h2{
   margin-bottom: 20px;
 }

 span{
   display: block;
   font-size: 20px;
 }

 

 .card:hover > .front{
   transform: perspective(600px) rotateY(-180deg);
 }

 .card:hover > .back{
   transform: perspective(600px) rotateY(0deg);
 }

 .card:hover > .front{
transform: perspective(600px) rotateY(-180deg)
 }

 .card:hover > .back{
   transform: perspective(600px) rotateY(0deg)
     }

/*slider*/
.slider-container{
   display: block;
   background-color: #D9D9D9;
   position: relative;
   align-items: center;
}
.sale{
   display: block;
   position: relative;
   top: 0;
   float: left;
   height: 620px;
}

.sale h1{
   position: relative;
   color: #000;
   font-family: "inter";
   font-size: 80px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   transform: rotate(-90deg);
   top: 45%;
}

.sale h2{
   position: relative;
   color: #14008C;
   font-family: "inter";
   font-size: 80px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   transform: rotate(-90deg);
   top: 20%;
}

.slick-track {
   display: flex;
   align-items: flex-start;
}

/*ограничевающая оболочка*/
.slick-list {
   overflow: hidden;
}

/*конкретный слайдер*/
.slider{
   left: 9%;
   background-color: #D9D9D9;
   position: relative;
   padding: 0px 60px;
}
.slider .slick-arrow{
   position: absolute;
   top: 50%;
   margin: -30px 0px 0px 0px;
   z-index: 10;
   font-size: 0;
   width: 30px;
   height: 50px;
}
/*.slider .slick-arrow.slick-prev{
   left: 0;
   background: url('1.png') 0 0 / 100% no-repeat;
   border: none

}*/
.slider .slick-arrow.slick-next{
   top: 4.5%;
   left: 30%;
   border: none
}

.slider .slick-dots{
   transform: translateY(-50%);
   align-items: center;
   justify-content: center;
}
.slider .slick-dots li{
   list-style: none;
   margin: 0px 10px;
}
.slider .slick-dots button{
   font-size: 0;
   width: 21px;
   height: 21px;
   background-color: white;
   border-radius: 50%;
   border-width: 0;
}
.slider .slick-dots li.slick-active button{
background-color: #9a9090;
}
.slider_item {
   display: inline-block;
}


.slider_item img{
   width: 800px;
   height: 560px;
   border-radius: 25px;
   padding-bottom: 70px;
}
.slider_item .img{
   position: relative;
   padding-bottom: 75%;
}